@font-face {
  font-family: 'Roboto Mono';
  src: url('../Font/RobotoMono-VariableFont_wght.ttf');
}

:root {
  --backgroundColor: #0f0f12;            /* background colour  */
  --wallpaper: url("../img/Chemical-Convection\ by\ teundenouden.jpeg"); 
/* tried some other from here https://old.reddit.com/r/Cinemagraphs they look great, I recommend this one https://i.imgur.com/1t9KQjg.gifv */
  --fontFamilyBookmark: 'Roboto Mono', Helvetica;
  --containerBg: #272727;                /* colour container bookmarks */
  --secondaryFg: #b3b3b3;                /* colour text bookmarks */
  --fg: #ffffff;                         /* colour for hover in bookmarks and datetime fonts */
  --scrollbarColor: #3f3f3f;             /* colour scrollbar in bookmarks */
  --fontColorWidgetIP: #573c3c;          /* the color for the widget with your IP */
  --colorAM-PM: #b94b3c;                 /* color background AM/PM display */
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  background-color: var(--backgroundColor);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23585858' fill-opacity='0.05'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.no-js {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  color: #000000;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/* Bookmarks*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inline {
  display: inline-block;
}

#bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  margin: 0em;
}

.bookmark-set {
  padding: 1em;
  background-color: var(--containerBg);
  border-radius: 3px;
  font-family: var(--fontFamilyBookmark);
  font-size: 0.85rem;
  width: 25%;
  height: 20em;
  /* 12 por defecto; aca se cambia el largo de los bookmarks*/
  margin: 0em 0.5em;
  box-sizing: border-box;
}

.bookmark-set:first-child {
  margin: 0em 0.5em 0rem 0em;
}

.bookmark-set:last-child {
  margin: 0em 0em 0rem 0.5em;
}

.bookmark-inner-container {
  overflow-y: scroll;
  height: 85%;
  vertical-align: top;
  padding-right: 6px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbarColor) #ffffff00;
}

.bookmark-inner-container::-webkit-scrollbar {
  width: 6px;
}

.bookmark-inner-container::-webkit-scrollbar-track {
  background: #ffffff00;
}

.bookmark-inner-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarColor);
  border-radius: 6px;
  border: 3px solid #ffffff00;
}

.bookmark-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--fg);
  margin: 0em 0em 0.35em 0em;
}

.bookmark {
  text-decoration: none;
  color: var(--secondaryFg);
  display: block;
  margin: 0.5em 0em;
}

.bookmark:hover {
  color: var(--fg);
}


/*  Wallpaper */
.image {
  position: relative;
  width: 100%;
  /* 50%*/
  height: 30vh;
  margin: 5% 0 0 0;
  /* border-radius: 3px; */
  background: var(--wallpaper);
  background-size: 100%;
  background-position: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  border: 1px solid #b94b3c;
  box-shadow: inset 0 0 100em #000000;
}

.image:hover {
  box-shadow: 0 0 30px #e3c292;
  border: 1px solid #b9c3b3;
}

/* https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */


.image:hover .mention-wallpaper {
  opacity: 100%;
}

.image:hover #myBtn {
  background-color: #3caab9;
}

.image:hover #skull {
  color: black;
}

.image:hover .date {
  text-shadow: 5px 5px 5px #000000;
  -webkit-text-stroke: 0.7px black;
  color: #b9c3b3;
  
  font-weight: 400;
}

/* 
.image:hover .weather-container {
  visibility: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: default;
}
*/

.datetime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--fg);
  font-family: "Segoe UI", sans-serif;
  width: 100%;
  height: 100%;
}

.date {
  text-shadow: 5px 5px 5px #000000;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child) {
  text-shadow: 2px 3px #442621;
  margin: 0 6px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
}

.time span:last-child {
  background: var(--colorAM-PM);
  font-size: 30%;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 5px;
}

/*
.weather-container {
  visibility: hidden;
  position: absolute;
}
*/

.mention-wallpaper {
  background-color: #442621;
  bottom: 0px;
  right: 3px;
  font-size: 12px;
  position: absolute;
  opacity: 50%;
}

.links-wallpaper {
  text-decoration: none;
  color: #b9c3b3;
  font-weight: 700;
}


/* SEARCHBAR */
.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 0.5em 0em 0em 0em;
}

.searchbox {
  color: #D8DEE9;
  background-color: rgba(39, 39, 39, .5);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 0.3em 0.5em 0.3em;
}

.searchbar input:focus {
  color: #E5E9F0;
  background-color: rgba(68, 38, 33, .7);
}

textarea:focus,
input:focus {
  outline: none;
}

.search-engines {
  border-radius: 0.25rem;
  color: var(--secondaryFg);
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.search-engines li:first-child {
  margin: 0 1em 0 1em;
}

.search-engines li:last-child {
  margin: 0;
}

.search-engines li {
  margin: 0 1em 0 0;
}

.search-engines li.active {
  color: #b94b3c;
  font-weight: 700;
}

.search-engines li p {
  cursor: default;
  transition: all .2s;
  font-size: 12px;
}

/* background animation when noscript is active */
.wave,
.wave::before,
.wave::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  transform-origin: 50% 50%;
  background: linear-gradient(to bottom, rgba(102, 32, 41, 0.2), transparent);
  border-radius: 38% 42%;
  animation: spin 36s infinite linear;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  transform-origin: 49% 51%;
  border-radius: 40% 38%;
  animation: spin 20s infinite linear;
}

.wave::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  transform-origin: 51% 49%;
  border-radius: 48% 42%;
  animation: spin 40s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* "footer" */
.widget-ip {
  color: var(--fontColorWidgetIP);
  font-size: 14px;
  text-align: center;
}

.footer-message {
  color: cornsilk;
  font-size: 12px;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

/* button for the credits */
#myBtn {
  position: absolute;
  top: 2px;
  right: 5px;
  background-color: #333;
  padding: 0%;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
}

.skull {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3ESkull%3C/title%3E%3Cpath d='M448 225.64v99a64 64 0 01-40.23 59.42l-23.68 9.47A32 32 0 00364.6 417l-10 50.14A16 16 0 01338.88 480H173.12a16 16 0 01-15.69-12.86L147.4 417a32 32 0 00-19.49-23.44l-23.68-9.47A64 64 0 0164 324.67V224c0-105.92 85.77-191.81 191.65-192S448 119.85 448 225.64z' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/%3E%3Ccircle cx='168' cy='280' r='40' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/%3E%3Ccircle cx='344' cy='280' r='40' fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32'/%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M256 336l-16 48h32l-16-48zM256 448v32M208 448v32M304 448v32'/%3E%3C/svg%3E");
  padding: 7%;
  height: 18px;
  width: 19px;
}


/* MODAL https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.close {
  color: var(--fg);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #b94b3c;
  color: var(--fg);
  font-family: "Segoe UI", sans-serif;
}

.modal-body {
  padding: 2px 16px;
  text-align: justify;
  font-family: "Segoe UI", sans-serif;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 16px;
  background-color: #333;
  font-family: "Segoe UI", sans-serif;
}

.repo-github {
  text-decoration: none;
  color: var(--secondaryFg);
}

.repo-github:hover {
  color: var(--fg);
}

.logo-github-small {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3ELogo Github%3C/title%3E%3Cpath d='M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z'/%3E%3C/svg%3E");
  width: 16px;
  height: 16px;
}

.logo-github-large {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ctitle%3ELogo Github%3C/title%3E%3Cpath d='M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9a17.56 17.56 0 003.8.4c8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1a102.4 102.4 0 01-22.6 2.7c-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1a63 63 0 0025.6-6c2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8a18.64 18.64 0 015-.5c8.1 0 26.4 3.1 56.6 24.1a208.21 208.21 0 01112.2 0c30.2-21 48.5-24.1 56.6-24.1a18.64 18.64 0 015 .5c12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5a19.35 19.35 0 004-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z'/%3E%3C/svg%3E");
  width: 36px;
  height: 36px;
}

.links-modal {
  text-decoration: none;
}



/* Tooltip https://codepen.io/cristina-silva/pen/XXOpga */
.label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip-toggle {
  position: relative;
}

.tooltip-toggle::before {
  position: absolute;
  top: -80px;
  left: -55px;
  background-color: var(--fontColorWidgetIP);
  border-radius: 5px;
  color: #fff;
  content: attr(aria-label);
  padding: 1rem;
  text-transform: none;
  transition: all 0.5s ease;
  width: 160px;
}

.tooltip-toggle::after {
  position: absolute;
  top: -12px;
  left: 40px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #2b222a;
  content: " ";
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}

.tooltip-toggle::before,
.tooltip-toggle::after {
  color: #efefef;
  font-family: monospace;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}

.tooltip-toggle:focus::before,
.tooltip-toggle:focus::after,
.tooltip-toggle:hover::before,
.tooltip-toggle:hover::after {
  opacity: 1;
  transition: all 0.3s ease;
}


/* My attempt to make it responsive */
@media screen and (max-width: 767px) {
  .no-js {
    font-size: 150%;
  }

  .image {
    width: 100%;
    /* 50% */
    margin: 3% 0 0 0;
    background-size: 150%;
    background-repeat: repeat;
  }

  /* https://stackoverflow.com/questions/14431411/pure-css-to-make-font-size-responsive-based-on-dynamic-amount-of-characters */
  .time {
    font-size: 15vw;
    /* 7vw */
  }

  .time span:last-child {
    font-size: 5vw;
    /* 3vw */
  }

  .date {
    font-size: 5vw;
    /* 3vw */
  }

  .mention {
    font-size: 10px;
  }

  #bookmark-container {
    display: grid;
    flex-direction: column;
    width: 100%;
    margin: 1em 0em;
  }

  .bookmark-set {
    border-radius: 3px;
    font-size: 0.8rem;
    width: 95vw;
    height: 10.5em;
    /* 12 por defecto; aca se cambia el largo de los bookmarks*/
    margin: 0.5em 0.5em;
    box-sizing: border-box;
  }

  .bookmark-set:first-child {
    margin: 0em 0em 0.5rem 0.5em;
  }

  .bookmark-set:last-child {
    margin: 0.5em 0em 0rem 0.5em;
  }

  .modal-content {
    width: 80%;
  }

  .searchbar {
    width: 70%;
  }
}

/* https://stackoverflow.com/questions/42415141/what-is-the-media-query-for-large-desktops/42415313 */
@media screen and (min-width: 768px) {

  /* "desktop" */
  .time {
    font-size: 600%;
  }

  .date {
    font-size: 200%;
  }
}

@media screen and (min-width: 2048px) {

  /* 2k and bigger */
  .time {
    font-size: 1000%;
  }
}
