/* 
v2.5
https://github.com/Alplox/
*/

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Mono Thin'), local('RobotoMono-Thin'),
    url('../font/RobotoMono-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Mono Light'), local('RobotoMono-Light'),
    url('../font/RobotoMono-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono Regular'), local('RobotoMono-Regular'),
    url('../font/RobotoMono-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
    url('../font/RobotoMono-Bold.ttf') format('truetype');
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  list-style: none;
  text-decoration: none;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;

  text-rendering: optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:root {
  --font: 'Roboto Mono', system-ui, Helvetica, Arial;
  --font-alt: "Segoe UI", sans-serif, Arial;
  --font-time: 'Roboto Mono', Helvetica, Arial;

  /* Bookmarks colors */
  --bm-bg: #fdfdfd;

  --first-bm: #D8ACAC;
  --second-bm: #05C715;
  --third-bm: #E69A00;
  --fourth-bm: #C295FE;
  --fifth-bm: #CAAFB7;
  --sixth-bm: #00D7E6;

  /* general */
  --bg: #E6E6E6;
  --modal-bg: var(--bm-bg);
  --modal-a: #0404FB;
  --modal-a-visited: #4E00B3;
  --bg-reloj: rgba(134, 134, 134, 0.349);

  --orange: #FF9C8F;

  --white: #ffffff;
  --grey: #b3b3b3;
  --dark-grey: #1C1C1C;
  --black: #000000;

  /* no cambian independientes del tema */
  --fix-white: var(--white);
  --fix-black: var(--black);

  /* tried some other wallpaper from here https://old.reddit.com/r/Cinemagraphs they look great, I recommend this one https://i.imgur.com/1t9KQjg.gifv */
  --wallpaper: url("../img/Chemical-Convection-by-teundenouden.jpeg");

  --border-radius: 15px;
}

.dark-mode {
  /* Bookmarks colors */
  --bm-bg: #1C1C1C;
  /* #121212 */

  --first-bm: #381A1A;
  --second-bm: #024c08;
  --third-bm: #6e4a00;
  --fourth-bm: #3c018a;
  --fifth-bm: #6F4954;
  --sixth-bm: #00484D;

  /* general */
  --bg: #0a0a0a;
  --modal-bg: var(--bm-bg);
  --modal-a: #47D1D1;
  --modal-a-visited: #D1ADFF;
  --bg-reloj: rgba(23, 23, 23, 0.349);

  --orange: #8F1100;

  --white: #000000;
  --grey: #b3b3b3;
  --dark-grey: #C1C1C1;
  --black: #ffffff;

  .image {
    -webkit-box-shadow: inset 0 0 100vw var(--fix-black);
    box-shadow: inset 0 0 100vw var(--fix-black);
  }
}

.fade {
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
}

body {
  background-color: var(--bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23585858' fill-opacity='0.05'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-family: var(--font);
  color: var(--black);
}

button,
a,
input,
label{
  &:focus-visible {
    outline: 2px var(--modal-a) solid;
  }
}

.sombra {
  -webkit-box-shadow:
    0px 3.7px 2.4px rgba(0, 0, 0, 0.031),
    0px 8.3px 5.7px rgba(0, 0, 0, 0.045),
    0px 14.1px 10.2px rgba(0, 0, 0, 0.055),
    0px 22.3px 16.9px rgba(0, 0, 0, 0.065),
    0px 34.7px 27.8px rgba(0, 0, 0, 0.075),
    0px 56px 48.5px rgba(0, 0, 0, 0.089),
    0px 109px 105px rgba(0, 0, 0, 0.12);
  box-shadow:
    0px 3.7px 2.4px rgba(0, 0, 0, 0.031),
    0px 8.3px 5.7px rgba(0, 0, 0, 0.045),
    0px 14.1px 10.2px rgba(0, 0, 0, 0.055),
    0px 22.3px 16.9px rgba(0, 0, 0, 0.065),
    0px 34.7px 27.8px rgba(0, 0, 0, 0.075),
    0px 56px 48.5px rgba(0, 0, 0, 0.089),
    0px 109px 105px rgba(0, 0, 0, 0.12);
}

.sombra-sm {
  -webkit-box-shadow:
    0.6px 1px 0.8px rgba(0, 0, 0, 0.057),
    1.6px 3px 2.7px rgba(0, 0, 0, 0.083),
    6px 11px 12px rgba(0, 0, 0, 0.14);
  box-shadow:
    0.6px 1px 0.8px rgba(0, 0, 0, 0.057),
    1.6px 3px 2.7px rgba(0, 0, 0, 0.083),
    6px 11px 12px rgba(0, 0, 0, 0.14);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  height: 100dvh;
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

/*  Wallpaper */
.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background: var(--wallpaper);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  outline: 2px solid var(--orange);
  gap: 20px;
}

.container-botones-imagen {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  width: 100%;
}

.container-checkbox-tema {
  margin: 10px 0 0 10px;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 6px;
  background: var(--white);
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.ball {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 5px;
  background: var(--black);
  border-radius: 50%;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.container-checkbox-tema input {
  position: absolute;
  padding: 0 6px;
  width: 50px;
  height: 20px;
  border-radius: 50px;
  overflow: hidden;
}

.container-checkbox-tema input:checked+label .ball {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
  background: var(--black);
}

.container-checkbox-tema input:checked+label {
  background: var(--white);
}

.boton-open-modal {
  border-radius: 50%;
  cursor: pointer;
  color: var(--black);
  padding: 2px;
  margin: 10px 10px 0 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--white);

  &:hover {
    background-color: var(--orange);
  }
}

.skull {
  padding: 10% 0 0 0;
  height: 19px;
  width: 19px;
}

/* Tiempo */
.tiempo-fondo {
  background-color: var(--bg-reloj);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: var(--border-radius);
  padding: 20px;
}

.tiempo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-time);
  text-transform: uppercase;

  .reloj {
    display: inherit;
    font-size: clamp(3rem, 10vw, 4rem);

    .hora {
      font-weight: 700;
    }

    .am-pm {
      font-weight: 100;
    }
  }

  .fecha {
    font-weight: 300;
    font-size: clamp(1rem, 5vw, 2rem);
  }
}

.mention-wallpaper {
  -ms-flex-item-align: end;
  align-self: flex-end;
  -ms-grid-column-align: left;
  justify-self: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
  background-color: var(--orange);
  font-size: smaller;
  text-wrap: balance;
  padding: 8px;
  border-radius: var(--border-radius) 0 0 0;
  opacity: 0.5;
  font-weight: 400;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;

  a {
    color: var(--black);
    font-weight: 700;
    border-bottom: 2px transparent solid;

    &:hover {
      border-bottom: 2px var(--black) solid;
    }
  }

  &:hover {
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
  }
}

/* SEARCHBAR */
.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: clamp(65%, 70%, 80%);
}

.searchbox {
  background-color: var(--bm-bg);
  border-radius: var(--border-radius);
  padding: .5em .7em;
  outline: 2px transparent solid;
  color: var(--black);

  &:focus {
    outline: 2px var(--orange) solid;
  }

  &:hover {
    outline: 2px solid var(--orange);
  }
}

.container-search-engines {
  display: -webkit-box;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  max-height: 120px;
  padding: 5px 10px 5px 5px;
  margin-top: 0.5rem;
  scrollbar-gutter: stable;
  overflow: auto;
  gap: 10px;
}

.boton-buscadores {
  color: var(--black);
  background-color: transparent;
  border-radius: var(--border-radius);
  padding: 8px;
  cursor: pointer;
  text-align: start;
  outline: 2px var(--bm-bg) solid;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;

  .nombre-buscador {
    opacity: .6;
    font-size: smaller;
  }

  &.active {
    color: var(--white);
    background-color: var(--black);

    &:hover {
      color: var(--black);
      background-color: var(--orange);
    }
  }

  &:hover {
    background-color: var(--bm-bg);
    outline: 2px solid var(--orange);
  }
}

/*  MARK: Bookmarks */
.bm-container {
  position: relative;
  width: clamp(65%, 70%, 80%);
  min-height: 300px;
  height: 100%;
}

.bm-container-tabs {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.bm-container-tabs-titles,
.bm-container-tabs-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30px, 1fr))[5];
  grid-template-columns: repeat(5, minmax(30px, 1fr));
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.bm-tab-title {
  font-size: clamp(1rem, 1vw, 2rem);
  background-color: var(--bm-bg);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  text-wrap: balance;

  &:nth-child(1) {
    border-bottom: 2px var(--first-bm) solid;
  }

  &:nth-child(2) {
    border-bottom: 2px var(--second-bm) solid;
  }

  &:nth-child(3) {
    border-bottom: 2px var(--third-bm) solid;
  }

  &:nth-child(4) {
    border-bottom: 2px var(--fourth-bm) solid;
  }

  &:nth-child(5) {
    border-bottom: 2px var(--fifth-bm) solid;
  }
}

.bm-container-tabs-content {
  overflow: hidden;
}

.bm-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  overflow: hidden;
  background-color: var(--bm-bg);
  scrollbar-width: thin;
}

.bm-tab::-webkit-scrollbar {
  background-color: var(--bm-bg);
  width: 1px;
}

.bm-tab::-webkit-scrollbar-thumb {
  background: var(--grey);
}

.bm-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;

  a {
    color: var(--dark-grey);
    padding: 10px;

    &:hover {
      color: var(--black);
    }
  }

  &[data-tab*="1"] a:hover {
    background-color: var(--first-bm);
  }

  &[data-tab*="2"] a:hover {
    background-color: var(--second-bm);
  }

  &[data-tab*="3"] a:hover {
    background-color: var(--third-bm);
  }

  &[data-tab*="4"] a:hover {
    background-color: var(--fourth-bm);
  }

  &[data-tab*="5"] a:hover {
    background-color: var(--fifth-bm);
  }
}

/* MARK: @media */
@media screen and (max-width: 945px) {
  .bm-container-tabs-titles {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .bm-container-tabs-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }

  .bm-tab-title {
    border-radius: 0;
    font-size: smaller;

    &:first-child {
      border-radius: var(--border-radius) 0 0 0;
    }

    &:last-child {
      border-radius: 0 var(--border-radius) 0 0;
    }

    &.active {
      &:nth-child(1) {
        background-color: var(--first-bm);
      }

      &:nth-child(2) {
        background-color: var(--second-bm);
      }

      &:nth-child(3) {
        background-color: var(--third-bm);
      }

      &:nth-child(4) {
        background-color: var(--fourth-bm);
      }

      &:nth-child(5) {
        background-color: var(--fifth-bm);
      }
    }
  }

  .bm-content {
    display: none;
  }

  .bm-content.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* MARK: MODAL */
.modal {
  display: none;
  position: fixed;
  padding: 100px 0 100px 0;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: var(--font-alt);
}

.modal-content {
  position: relative;
  background-color: var(--modal-bg);
  margin: auto;
  width: clamp(50%, 80%, 95%);
  word-wrap: break-word;
  -webkit-animation: animatetop 0.4s;
  animation: animatetop 0.4s;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.close {
  color: var(--black);
  float: right;
  font-size: 2rem;
  background: transparent;

  &:hover {
    color: var(--orange);
    cursor: pointer;
  }
}

.modal-body {
  padding: 35px;
  line-height: 2;

  a {
    font-weight: 700;
    color: var(--modal-a);

    &:hover {
      border-bottom: 2px var(--black) solid;
    }

    &:visited {
      color: var(--modal-a-visited);
    }
  }

  li {
    list-style-type: disc;
  }
}

.modal-footer {
  background-color: var(--bg);

  a {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--black);

  }

  .repo-github {
    fill: var(--black);
    width: 36px;
    height: 36px;
  }

  &:hover {
    background-color: var(--black);

    a {
      color: var(--white);
    }

    .repo-github {
      fill: var(--white);
    }
  }
}

.footer-message a {
  margin: 10px 0;
  color: var(--black);
}

.underline {
  background-image: -o-linear-gradient(330deg, var(--orange) 0%, var(--orange) 100%);
  background-image: linear-gradient(120deg, var(--orange) 0%, var(--orange) 100%);
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 120%;
  -webkit-transition: background-size 0.2s ease-in-out;
  -o-transition: background-size 0.2s ease-in-out;
  transition: background-size 0.2s ease-in-out;

  &:hover {
    color: var(--black);
    background-size: 100% 89%;
    padding: 5px 2px 0 2px;
  }
}

noscript {
  color: var(--black);
}

/* MARK: Animaciones */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}