/* 
Style v2.3
por Alplox 
https://github.com/Alplox/
*/

/* https://github.com/AllThingsSmitty/css-protips/tree/master/translations/es-ES#compruebe-si-la-fuente-est%C3%A1-instalada-localmente */
@font-face {
  font-family: 'Roboto Mono';
  src:
    local('Roboto Mono'),
    url("../font/RobotoMono-Thin.ttf") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 100;
}

@font-face {
  font-family: 'Roboto Mono';
  src:
    local('Roboto Mono'),
    url("../font/RobotoMono-Light.ttf") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
}

@font-face {
  font-family: 'Roboto Mono';
  src:
    local('Roboto Mono'),
    url("../font/RobotoMono-Regular.ttf") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
}

@font-face {
  font-family: 'Roboto Mono';
  src:
    local('Roboto Mono'),
    url("../font/RobotoMono-Bold.ttf") format("truetype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  list-style: none;
  text-decoration: none;
  
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: subpixel-antialiased;
  -o-font-smoothing: subpixel-antialiased;

  text-rendering:  optimizeLegibility;
}

*,
*:before,
*:after {
  box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root {
  --font: 'Roboto Mono', Helvetica, Arial;
  --font-alt: "Segoe UI", sans-serif, Arial;
  --font-time: 'Roboto Mono', Helvetica, Arial;

  /* Bookmarks colors */
  --bm-bg: #fdfdfd;

  --first-bm: #D8ACAC;
  --second-bm: #05C715;
  --third-bm: #E69A00;
  --fourth-bm: #C295FE;
  --fifth-bm: #CAAFB7;
  --sixth-bm: #00D7E6;

  /* general */
  --bg:  #E6E6E6;
  --modal-bg: var(--bm-bg);
  --modal-a: #0404FB;
  --modal-a-visited: #4E00B3;
  --bg-reloj: rgba(134, 134, 134, 0.349);

  --orange: #FF9C8F;

  --white: #ffffff;
  --grey: #b3b3b3;
  --dark-grey: #1C1C1C;
  --black: #000000;

  /* no cambian en modo oscuro */
  --fix-white: var(--white);
  --fix-black: var(--black);
 
/* tried some other wallpaper from here https://old.reddit.com/r/Cinemagraphs they look great, I recommend this one https://i.imgur.com/1t9KQjg.gifv */
  --wallpaper: url("../img/Chemical-Convection\ by\ teundenouden.jpeg"); 
}

.darkmode {
  /* Bookmarks colors */
  --bm-bg: #1C1C1C;
  
  --first-bm: #381A1A;
  --second-bm: #024c08;
  --third-bm: #6e4a00;
  --fourth-bm: #3c018a;
  --fifth-bm: #6F4954;
  --sixth-bm: #00484D;

  /* general */
  --bg: #0a0a0a;
  --modal-bg: var(--bm-bg);
  --modal-a: #47D1D1;
  --modal-a-visited: #D1ADFF; 
  --bg-reloj: rgba(23, 23, 23, 0.349);

  --orange: #8F1100;

  --white: #000000;
  --grey: #b3b3b3;
  --dark-grey: #C1C1C1;
  --black: #ffffff;
}

.darkmode .image {
  -webkit-box-shadow: inset 0 0 100vw var(--fix-black);
    box-shadow: inset 0 0 100vw var(--fix-black);
}

.fade {
  transition: all .6s ease-out;
}

body {
  background-color: var(--bg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%23585858' fill-opacity='0.05'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 100vh;
  font-family: var(--font);
}

.hora,
.fecha,
.am-pm,
.mention-wallpaper,
.mention-wallpaper a {
  color: var(--black);
}

.close,
.modal-header,
.modal-footer a {
  color: var(--fix-black);
}

.search-engines,
.bm-content a,
.bm-tab-title,
.modal-body,
.searchbox,
.footer-message a {
  color: var(--dark-grey);
}

.container {
  display: grid;
  grid-template-rows: .5fr .2fr 1fr .2fr;
  align-items: center;
  justify-items: center;
  height: 100vh; 
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
    -o-animation: fadein 1s;
       animation: fadein 1s;
}

/*  Wallpaper */
.image {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  background: var(--wallpaper);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  outline: 2px solid var(--orange);
}

/* btn modal y darkmode */
.btns-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* btn darkmode */
.btn-dark-mode {
  margin: 10px  0 0 10px;
}

/* Toggler darkmode */
label {
  display: flex;
  width: 50px;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: var(--white);
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

label .ball {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 5px;
  background: var(--black);
  border-radius: 50%;
  transition: 0.8s;
}
.btn-dark-mode input:checked + label .ball {
  transform: translateX(25px);
  background: var(--black);
}

.btn-dark-mode input:checked + label {
  background: var(--white);
}

.btn-dark-mode input {
  display: none;
}

/* btn modal */
.btn-skull {
      align-self: flex-end;
      justify-self: left;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  padding: 2px;
  margin: 10px 10px 0 0;
  background-color: var(--white);
}

.skull {
  color: var(--black);
  padding: 10% 0 0 0;
  height: 19px;
  width: 19px;
}

/* Tiempo */
.tiempo-fondo {
  background-color: var(--bg-reloj);
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.reloj {
  display: grid;
  grid-template-columns: 1fr .25fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 
  "reloj ampm"
  "fecha fecha";
  justify-content: center;
  padding: 20px;
}

.hora,
.am-pm,
.fecha {
  font-family: var(--font-time);
  text-align: center;
  /* text-shadow: 0.125rem 0.125rem 0.125rem var(--black); */
}

.hora,
.am-pm {
  font-size: clamp(3rem, 10vw, 4rem);
}

.hora {
  grid-area: reloj;
  font-weight: 700;
}

.am-pm {
  grid-area: ampm;
  font-weight: 100;
}

.fecha{
  grid-area: fecha;
  font-weight: 300;
  font-size: clamp(1rem, 5vw, 2rem);
}

.mention-wallpaper {
  align-self: flex-end;
  justify-self: left;
  background-color: var(--orange);
  font-size: clamp(0.75rem, 1vw, 1.125rem);
  padding: 10px;
  border-radius: 5px 0 0 0;
  opacity: 0.5;
  font-weight: 400;
  transition: opacity .3s ease-in-out;
}

.mention-wallpaper a {
  font-weight: 700;
}

/* SEARCHBAR */
.searchbar {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  width: clamp(65%, 70%, 80%);
  padding: 0.5rem 0 1rem 0;
}

.searchbox {
  background-color: var(--bm-bg);
  border-radius: 5px;
  padding: 0.3em 0.5em;
}

.searchbar input{
  border: 1px transparent solid;
}

.searchbar input:focus {
  border: 1px var(--black) solid;
}

.search-engines {
  padding-top: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
    justify-content: center;
}

.search-engines li {
  border: 1px var(--bm-bg) solid;
  border-radius: 5px;
  margin: 0 5px;
}

.search-engines li.active {
  color: var(--white);
  background-color: var(--black);
  font-weight: 700;
}

.search-engines li p {
  font-size: clamp(0.75rem, 1vw, 1rem);
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

/* Bookmarks */
.bm-container {
  position: relative;
	width: clamp(65%, 70%, 80%);
  min-height: 300px;
  height: 100%;
}

.bm-container-tabs {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 94%;
  width: 100%;
}

.bm-container-tabs-titles,
.bm-container-tabs-content {
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: 1fr 1fr .5fr 1fr 1fr;
  column-gap: 10px;
}

.bm-tab-title {
  font-size: clamp(1rem, 1vw, 2rem);
  background-color: var(--bm-bg);
  border-radius: 5px 5px 0 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bm-container-tabs-content{
  overflow: hidden;
}

.bm-tab {
  /* height: 90%; */
  overflow: hidden;
  overflow-y: visible;
  background-color: var(--bm-bg);
  scrollbar-width: thin; /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width#accessibility_concerns */
}

.bm-tab::-webkit-scrollbar {  /* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
  background-color: var(--bm-bg);
  width: 1px;
}

.bm-tab::-webkit-scrollbar-thumb {
  background: var(--grey);
}

.bm-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
}

.bm-content a {
  padding: 10px;
}

/* Colors */
.bm-tab-title[data-tab*="1"] {
  border-bottom: 1px var(--first-bm) solid;
}

.bm-tab-title[data-tab*="2"] {
  border-bottom: 1px var(--second-bm) solid;
}

.bm-tab-title[data-tab*="3"] {
  border-bottom: 1px var(--third-bm) solid;
}

.bm-tab-title[data-tab*="4"] {
  border-bottom: 1px var(--fourth-bm) solid;
}

.bm-tab-title[data-tab*="5"] {
  border-bottom: 1px var(--fifth-bm) solid;
}

/* MODAL https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal2 */
.modal {
  display: none;
  position: fixed;
  padding: 100px 0 100px 0;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: clamp(.5rem, 1rem, 2rem);
  font-family: var(--font-alt);
}

.modal-content {
  position: relative;
  background-color: var(--modal-bg);
  margin: auto;
  width: clamp(50%, 70%, 80%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  word-wrap: break-word;
  -webkit-animation: animatetop 0.4s;
     -moz-animation: animatetop 0.4s;
       -o-animation: animatetop 0.4s;
          animation: animatetop 0.4s;
}

.close {
  float: right;
  font-size: 1.75rem;
  font-weight: 700;
}

.modal-header {
  padding: 0 1rem;
}

.modal-header,
.modal-footer {
  background-color: var(--fix-white);
  border: 1px var(--black) solid;
}

.modal-body {
  padding: 0.3125rem 1rem;
  line-height: 2;
  border: 1px var(--black) solid;
}

.modal-body a {
  font-weight: 700;
  color: var(--modal-a);
}

.modal-body a:visited{
  color: var(--modal-a-visited);
}

.modal-body li {
  list-style-type: disc;
}

.modal-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.repo-github {
  fill: var(--fix-black);
  width: 36px;
  height: 36px;
}

.footer-message a {
  font-size: clamp(0.5rem, 0.8rem, 1rem);
  margin: 10px 0;
}

.underline {
  background-image: linear-gradient(120deg, var(--orange) 0%, var(--orange) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 119%;
  transition: background-size 0.2s ease-in;
}

/* alerta de no javascript */
.no-js {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
      display: flex;
  -webkit-box-align: center;
      align-items: center;
  -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        flex-direction: column;        
  -webkit-box-pack: center;
      justify-content: center;
  background-image: -o-linear-gradient(330deg, #a1c4fd 0%, #c2e9fb 100%);
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.no-js p {
  font-size: clamp(1rem, calc(1rem + 1vw), 2vw);
  margin: 0 10%;
}

/* background animation when noscript is active */
.wave,
.wave::before,
.wave::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250vw;
  height: 250vw;
  margin-left: -125vw;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(102, 32, 41, 0.2)), to(transparent));
  background: -o-linear-gradient(top, rgba(102, 32, 41, 0.2), transparent);
  background: linear-gradient(to bottom, rgba(102, 32, 41, 0.2), transparent);
  border-radius: 38% 42%;
  -webkit-animation: spin 36s infinite linear;
          animation: spin 36s infinite linear;
}

.wave::before {
  width: 105%;
  height: 95%;
  margin-top: -125vw;
  -webkit-transform-origin: 49% 51%;
          transform-origin: 49% 51%;
  border-radius: 40% 38%;
  -webkit-animation: spin 20s infinite linear;
          animation: spin 20s infinite linear;
}

.wave::after {
  width: 102%;
  height: 98%;
  margin-top: -125vw;
  -webkit-transform-origin: 51% 49%;
          transform-origin: 51% 49%;
  border-radius: 48% 42%;
  -webkit-animation: spin 40s infinite linear;
     -moz-animation: spin 40s infinite linear;
       -o-animation: spin 40s infinite linear;
          animation: spin 40s infinite linear;
}

/* Animacion FADEIN */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Animacion ANIMATETOP */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@-moz-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@-o-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* Animacion SPIN */
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .image{
    height: 100%;
  }
  
  .bm-container-tabs {
    min-height: 300px;
  }
  
  .bm-container-tabs-titles {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0;
  }
  
  .bm-container-tabs-content {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
  
  .bm-tab-title {
    border-radius: 0;
    padding: 10px 0;
  }
  
  .bm-tab {
    height: 90%;
    overflow: hidden;
    overflow-y: visible;
    background-color: var(--bm-bg);
    scrollbar-width: thin;
  }
  
  .bm-tab::-webkit-scrollbar {
    background-color: var(--bm-bg);
    width: 1px;
  }
  
  .bm-tab::-webkit-scrollbar-thumb {
    background: var(--grey);
  }
  
  .bm-content {
    display: none;
  }

  .bm-content.active {
    display: -webkit-box;
    display: flex;
  }

  .bm-tab-title.active[data-tab*="1"] {
    background-color: var(--first-bm);
  }
  
  .bm-tab-title.active[data-tab*="2"] {
    background-color: var(--second-bm);
  }
  
  .bm-tab-title.active[data-tab*="3"] {
    background-color: var(--third-bm);
  }
  
  .bm-tab-title.active[data-tab*="4"] {
    background-color: var(--fourth-bm);
  }
  
  .bm-tab-title.active[data-tab*="5"] {
    background-color: var(--fifth-bm);
  }
}

@media (hover:hover) {
  .mention-wallpaper:hover  {
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }
  
  .btn-skull:hover {
    opacity: 1;
  }

  .bm-content a:hover {
    color: var(--black);
  }
  
  .bm-content[data-tab*="1"] a:hover {
    background-color: var(--first-bm);
  }
  
  .bm-content[data-tab*="2"] a:hover {
    background-color: var(--second-bm);
  }
  
  .bm-content[data-tab*="3"] a:hover {
    background-color: var(--third-bm);
  }
  
  .bm-content[data-tab*="4"] a:hover {
    background-color: var(--fourth-bm);
  }
  
  .bm-content[data-tab*="5"] a:hover {
    background-color: var(--fifth-bm);
  }

  .close:hover {
    color: var(--dark-grey);
    cursor: pointer;
  }
  
  .modal a:hover,
  .mention-wallpaper a:hover{
    border-bottom: 2px var(--black) solid;
  }

  .modal-footer a:hover {
    background-color: var(--grey);
    border-bottom: none;
  }

  .underline:hover{
    color: var(--black);
    background-size: 100% 89%;
    padding: 5px 2px 0 2px;
  }

  .search-engines li p:hover {
    background-color: var(--bm-bg);
    color: var(--black);
    cursor: pointer;
  }
}